[submodule "solver/palace"]
	path = solver/palace
	url = https://github.com/Glaysia/palace.git
	branch = dev
[submodule "solver/pfsolver"]
	path = solver/pfsolver
	url = peets:/home/peets/git/pfsolver.git
	branch = main
